@import "tailwindcss";

:root {
  --light: #FFEAD7;
  --accent-pink: #EE9695;
  --main-pink: #F7BDB9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rubik-scribble-bold {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 700;
  font-style: bold;
}

.rubik-header-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
